* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #efdf80;
}

.continent-navbar,
.country-navbar {
  display: flex;
  padding: 1.2rem;
  gap: 4.5rem;
  background-color: #e7d461;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  color: #000080;
}

.continent-navbar span {
  background-color: #e7d461;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem 0;
  background-color: #b3a451;
}

.headline div {
  display: flex;
  gap: 1.5rem;
}

.headline div img {
  width: 12rem;
}

.africa {
  width: 11rem;
  opacity: 0.6;
}

.african-details,
.per-detail {
  flex-direction: column;
  margin-right: 1rem;
  gap: 0.5rem !important;
  align-self: center;
}

.african-details span,
.per-detail span {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  color: #000080;
}

.per-detail span {
  font-size: 1.1rem;
  font-weight: 600;
} 

.per-detail {
  gap: 0 !important;
}

.african-details span:first-child,
.per-detail span:first-child {
  align-self: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 800;
}

.per-detail span:first-child {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.total-population {
  color: #000080;
  background-color: #e7d461;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  box-shadow: 0 5px 8px rgba(0,0,128,.24);
}

.country-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flag {
  height: 7rem;
  width: 8rem;
  align-self: flex-end;
}

.country-div {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem 1rem 0;
}

.country-div:nth-child(4n + 2),
.country-div:nth-child(4n + 3) {
  background-color: #e7d461;
}

.country-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-name,
.population {
  align-self: flex-end;
  font-family: 'Lato', sans-serif;
  color: #000080;
  text-align: end;
}

.country-name {
  margin-top: 1rem;
}

.population {
  font-size: 1rem;
}

.date {
  font-family: 'Lato', sans-serif;
  font-size: 0.7rem;
  align-self: flex-end;
  color: #000080;
  text-align: end;
  margin-bottom: 1rem;
}

.country-div a {
  text-decoration: none;
}

.country-navbar {
  gap: 2rem;
  align-items: center;
  font-weight: 800;
}

.country-navbar span {
  font-family: 'Lato', sans-serif;
}

.country-navbar a {
  text-decoration: none;
  color: #000080;
}

.back-arrow {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.back-arrow svg {
  align-self: flex-end;
}

.back-arrow span {
  font-size: 1.3rem;
  font-weight: 800;
}